<header>
  <div class="introduction">
    <div class="introduction__mail-form">
    <a href="#" class="introduction__mail-form__link">contact</a>
    </div>

    <div class="introduction__profile">
      <div class="introduction__profile__name">
      鈴木達也
      </div>
      <div class="introduction__profile__biography">
        経歴・・・通販会社２社にて商品企画、販促を担当<br>
        言語・・・HTML, CSS, Ruby, JavaScript<br>
        フレームワーク・・・Ruby on Rails<br>
      </div>
    </div>
  </div>
</header>


<div class="nav">
  <div class="nav__works">

    <div class="nav__works__work">
      <div class="nav__works__work__name">
      メルカリクローンサイト
      </div>
      <div class="nav__works__work__image">
      <%= image_tag 'mercari.png' %>
      </div>
      <div class="nav__works__work__description">
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
      </div>
    </div>

    <div class="nav__works__work">
      <div class="nav__works__work__name">
      メルカリクローンサイト
      </div>
      <div class="nav__works__work__image">
      <%= image_tag 'sample.png' %>
      </div>
      <div class="nav__works__work__description">
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
      </div>
    </div>

    <div class="nav__works__work">
      <div class="nav__works__work__name">
      メルカリクローンサイト
      </div>
      <div class="nav__works__work__image">
      <%= image_tag 'sample.png' %>
      </div>
      <div class="nav__works__work__description">
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
      </div>
    </div>

    <div class="nav__works__work">
      <div class="nav__works__work__name">
      メルカリクローンサイト
      </div>
      <div class="nav__works__work__image">
      <%= image_tag 'sample.png' %>
      </div>
      <div class="nav__works__work__description">
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
      </div>
    </div>

    <div class="nav__works__work">
      <div class="nav__works__work__name">
      メルカリクローンサイト
      </div>
      <div class="nav__works__work__image">
      <%= image_tag 'sample.png' %>
      </div>
      <div class="nav__works__work__description">
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
      </div>
    </div>

  </div>
</div>

<footer>
<div class="under-space">
</div>
</footer>