<header>
  <div class="introduction">
    <div class="introduction__mail-form">
    <a href="mailto:dayelingmu7@gmail.com" target="_blank" class="introduction__mail-form__link">contact</a>
    </div>

    <div class="introduction__profile">
      <div class="introduction__profile__name">
      鈴木達也
      </div>
      <div class="introduction__profile__biography">
        経歴・・通販会社２社にて商品企画、販促を担当<br>
        言語・・HTML, CSS, Ruby, JavaScript<br>
        フレームワーク・・Ruby on Rails<br>
      </div>
    </div>
  </div>

</header>


<div class="nav">
  <div class="nav__works">

    <div class="nav__works__work">
      <div class="nav__works__work__name">
      <a href="http://3.115.244.144/" target="_blank">メルカリクローンサイト</a>
      </div>
      <div class="nav__works__work__image">
      <%= image_tag 'mercari.png' ,size:'630x350' %>
        <div class="mask">
          <a href="http://3.115.244.144/" target="_blank"><div class="caption">
                メルカリを模したwebサイト。<br>
                本サイト同様にユーザー登録、出品、購入機能<br>
                等のフリマサイトとして必須の機能を実装。<br>
                ID: mercari_ff   Pass: 0820
                <br>
                <br>
                <br>
                <br>
          </div></a>
        </div>
      </div>
            <div class="readme"><a href="https://github.com/ele9tro/freemarket_sample_60f" target="_blank"><strong>＞</strong> README</a></div>
    </div>

    <div class="nav__works__work">
      <div class="nav__works__work__name">
      <a href="https://chatspaceapp.herokuapp.com" target="_blank">chat-space</a>
      </div>
      <div class="nav__works__work__image">
      <%= image_tag 'chat-space.png',size:'630x350' %>
        <div class="mask">
          <a href="https://chatspaceapp.herokuapp.com" target="_blank"><div class="caption">
                ユーザー間でのチャットができるアプリ。<br>
                インクリメンタルサーチ、非同期通信、<br>
                自動更新などの機能を実装。<br>
                <br>
                <br>
                <br>
                <br>
          </div></a>
        </div>
      </div>
      <div class="readme"><a href="https://github.com/tat0820/cat-space" target="_blank"><strong>＞</strong> README</a></div>
    </div>

    <div class="nav__works__work">
      <div class="nav__works__work__name">
      <a href="https://coverstock.herokuapp.com/images" target="_blank">coverstock</a>
      </div>
      <div class="nav__works__work__image">
      <%= image_tag 'coverstock.png',size:'630x350' %>
        <div class="mask">
          <a href="https://coverstock.herokuapp.com/images" target="_blank"><div class="caption">
                お気に入りのCDジャケット投稿サービス。<br>
                画像をクリックすると動画を再生する。<br>
                ユーザー登録、投稿機能等を実装。<br>
                <br>
                <br>
                <br>
                <br>
          </div></a>
        </div>
      </div>
      <div class="readme"><a href="https://github.com/tat0820/imagestock" target="_blank"><strong>＞</strong> README</a></div>
    </div>

    <div class="nav__works__work">
      <div class="nav__works__work__name">
      <a href="https://cheerupup.herokuapp.com/" target="_blank">cheerup</a>
      </div>
      <div class="nav__works__work__image">
      <%= image_tag 'cheerup.png',size:'630x350' %>
        <div class="mask">
          <a href="https://cheerupup.herokuapp.com/" target="_blank"><div class="caption">
                著名人・キャラクターの名言閲覧アプリ。<br>
                初めて作成したアプリで機能は少ないが、<br>
                jQueryの反映、動画の埋め込み等を行った。<br>
                <br>
                <br>
                <br>
                <br>
          </div></a>
        </div>
      </div>
      <div class="readme"><a href="https://github.com/tat0820/cheerup" target="_blank"><strong>＞</strong> README</a></div>
    </div>

        <div class="nav__works__work">
      <div class="nav__works__work__name">
      <a href="https://pictweetapp.herokuapp.com/ways" target="_blank">pictweet</a>
      </div>
      <div class="nav__works__work__image">
      <%= image_tag 'pictweet.png',size:'630x350' %>
        <div class="mask">
          <a href="https://pictweetapp.herokuapp.com/ways" target="_blank"><div class="caption">
                twitterを模した、文字・画像投稿アプリ。<br>
                投稿機能、ユーザー登録機能に加え、<br>
                編集、削除、コメント機能等を実装。<br>
                <br>
                <br>
                <br>
                <br>
          </div></a>
        </div>
      </div>
      <div class="readme"><a href="https://github.com/tat0820/waybuilder" target="_blank"><strong>＞</strong> README</a></div>
    </div>


  </div>
</div>

<footer>
  <div class="footer-space">

  </div>
</footer>